# General
*.o
*~
*.exe

# SixTest
test/*/*.run_pro*
test/*/*.run_kill*
test/run_pro_*
test/run_kill_*

# compareSix2Mad
devtools/physicsBenchmark/compareSix2Madx/work/*

# Builds
lib/libarchive_build
lib/zlib/build
lib/zlib/install
lib/hdf5

source/count.log

# Custom Build Folders
build*/
Build*/

# Libraries
lib/pythia

# LaTeX
doc/*.log
doc/*.dat
doc/html
doc/*/*.pdf
doc/*/*.aux
doc/*/*.log
doc/*/*.lot
doc/*/*.out
doc/*/*.toc
doc/*/*.bbl
doc/*/*.blg
doc/*/*.ilg
doc/*/*.idx
doc/*/*.fls
doc/*/*.ind
doc/*/*.fdb_latexmk
doc/*/*.synctex.gz

# Python
*.pyc
