[submodule "lib/boinc"]
	path = lib/boinc
	url = https://github.com/SixTrack/boinc.git
[submodule "lib/NAFFlib"]
	path = lib/NAFFlib
	url = https://github.com/SixTrack/NAFFlib
[submodule "lib/DISTlib"]
	path = lib/DISTlib
	url = https://github.com/SixTrack/DISTlib.git
