# General
*.o
*~
*.exe

# SixTest
test/*/*.run_pro*
test/*/*.run_kill*
test/run_pro_*
test/run_kill_*

# Builds
source/libarchive_build
source/zlib/build
source/zlib/install

source/count.log

# Custom Build Folders
build*
Build*

# LaTeX
doc/html
doc/*/*.pdf
doc/*/*.aux
doc/*/*.log
doc/*/*.lot
doc/*/*.out
doc/*/*.toc
doc/*/*.bbl
doc/*/*.blg
doc/*/*.ilg
doc/*/*.synctex.gz

# Python
*.pyc
