#Setup for github-linguist
lib/zlib/* linguist-vendored

*.canonical linguist-generated
test/*/fort.2  linguist-generated
test/*/fort.3  linguist-language=text
test/*/fort.8  linguist-generated
test/*/fort.13 linguist-generated

# Ignore build folders when diffing
build*/ -diff

# TODO: fort.3 files should probably be explicitly kept, but they are not Roff...
